* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1850px;
    width: 100%;
    margin: 0 auto;
}

.background-image {
    position: relative;
    background-image: url(images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 980px;
}

.red-car {
    position: absolute;
    width: 300px;
    top: 700px;
    animation-name: redCar;
    animation-delay: 0.5;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
}

.yellow-car { 
    position: absolute;
    width: 300px;
    top: 700px;
    left: 1530px;
    animation-name: yellowCar;
    animation-delay: 0.5;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
}

@keyframes redCar {
    from {
        left: 0px;
    }

    to {
        left: 800px;
    }
}

@keyframes yellowCar {
    from {
        right: 0px;
    }

    to {
        left: 800px;
    }
}